body{
    text-align: center;
}

.choice-button{
    height: 80px;
    width: 80px;
    border: none;
    margin-right: 15px;
    background-color: skyblue;
    border-radius: 10px;
    cursor: pointer;
}

.choice-image{
    height: 95%;
    width: 95%;   
}

.reset-button{
    background-color: red;
    color:white;
    border-radius: 10px;
}

#heading{
    background-color: aqua;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right:35%;
    border-radius: 10px;

}